@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');


.html, body{
    padding: 0;
    margin: 0;    
    height: 100%;
    width: 100%;
    background-color: #FFFFF0;
    font-family: 'Gloock', serif;
}

.calc{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top: 350px;
    
}



.clear{
    margin: 3px;
    width: 170px;
    height: 70px;
    font-size: 20px;
    font-weight: bolder;
    background-color: #DCDCDC;
}

.del{
    margin: 3px;
    width: 170px;
    height: 70px;
    font-size: 20px;
    font-weight: bolder;
    background-color:  	#A9A9A9;
}

.keys{
    margin: 3px;
    width: 80px;
    height:80px;
    font-size: 20px;
    font-weight: bolder;
    background-color: #FFA500;
}

.numbers{
    margin: 3px;
    width: 80px;
    height:80px;
    font-size: 20px;
    font-weight: bolder;
    background-color: #454545;
    color:#FFFFF0;
}

