@import url('https://fonts.googleapis.com/css2?family=Labrada:wght@300;600&display=swap');

.html, body{
    padding: 0;
    margin: 0;    
    height: 100%;
   
    background-color: #FFFFF0;
    
}

.calc{
    width:400px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin: 350px 0 0px 250px;
   background-color: #000000;
}

.entry-display{

}

.delete{
    margin-top: 20px;
}

.clear{
    margin: 3px;
    width: 170px;
    height: 70px;
    font-size: 20px;
    font-weight: bolder;
    background-color: #DCDCDC;
    
}

.del{
    margin: 3px;
    width: 170px;
    height: 70px;
    font-size: 20px;
    font-weight: bolder;
    background-color:  	#A9A9A9;
}

.keys{
    margin: 3px;
    width: 80px;
    height:80px;
    font-size: 20px;
    font-weight: bolder;
    background-color: #FFA500;
}

.numbers{
    margin: 3px;
    width: 80px;
    height:80px;
    font-size: 20px;
    font-weight: bolder;
    background-color: #454545;
    color:#FFFFF0;
}


.line-4{
    margin-bottom: 20px;
}

.footer{
    display:flex;
    justify-content:center;
    margin-top:120px;
    font-family: 'Labrada', serif;
}

.link{
    text-decoration: none;
    margin-left:5px;
    color: #0000FF;
}

.link:visited{
    color: 	#1E90FF;
}
