@import url('https://fonts.googleapis.com/css2?family=Labrada:wght@300;600&display=swap');

.html, body{
    padding: 0;
    margin: 0;    
    height: 100%;
   
    background-color: #FFFFF0;
    
}

.calc{
    width:400px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin: 150px 0 0px 750px;
   background-color: #000000;
}

.entry{
    width:400px;
    height:200px;
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
}

.entry-display{
    color: #ffffff;
    font-weight: bolder;
    font-size: 80px;
}

.result{
    color: #ffffff;
    font-weight: bolder;
    font-size:50px;
}

.delete{
    margin-top: 20px;
    
}

.clear{
    margin: 3px;
    width: 170px;
    height: 70px;
    font-size: 20px;
    font-weight: bolder;
    background-color: #DCDCDC;
    
}

.del{
    margin: 3px;
    width: 170px;
    height: 70px;
    font-size: 20px;
    font-weight: bolder;
    background-color:  	#A9A9A9;
}

.keys{
    margin: 3px;
    width: 80px;
    height:80px;
    font-size: 20px;
    font-weight: bolder;
    background-color: #FFA500;
}

.numbers{
    margin: 3px;
    width: 80px;
    height:80px;
    font-size: 20px;
    font-weight: bolder;
    background-color: #454545;
    color:#FFFFF0;
}


.line-4{
    margin-bottom: 20px;
}

.footer{
    display:flex;
    justify-content:center;
    margin-top: 90px;
    font-family: 'Labrada', serif;
}

.link{
    text-decoration: none;
    margin-left:5px;
    color: #0000FF;
}

.link:visited{
    color: 	#1E90FF;
}

/* responsiveness for iphone 7,8,SE, and XR*/
@media screen and (min-width:375px) and (max-width:667px){
   html{
    height:100%;
    width:100%;
    background-color: #000000;
   }
   
    .calc{
       margin: 0;
        width: 100%;
        height:100%;
    }

    .footer{
        margin: 3px;
        background-color: #ffffff;
        font-size: 20px;
    }

    .entry{
        margin-right: 40px;

        }

}

   

/* responsiveness for iphone X and later, ipad, samsung tab, pixel, and S20 ultra. */
@media screen and (min-width:668px) and (max-width:1180px) {
    
    html{
    height:100%;
    width:100%;
    background-color: #ffffff;
   }
   
    .calc{
       margin: 0;
        width: 100%;
        height:100%;
        
    }

    .buttons{
        border: 10px solid 	#A9A9A9;
    }

    .footer{
        margin: 3px;
        background-color: #ffffff;
        font-size: 20px;
    }

    .entry{
        width:50%;
        border: 10px solid 	#A9A9A9;
        }

}



/* responsiveness for Galaxy tab S4
@media screen and (min-width:712px) and (max-width:1138px) {

    .calc{
        margin-top: 150px;
        margin-left: 160px;
    }
    
    .footer{
        
        margin-top: 120px;
        font-size: 20px;
    }
}


@media screen and (max-width:1180px){
    .calc{
        margin-left:205px;
    }
}